# Ignore all
*

# Unignore files
!*.c
!*.h
!*.sh
!*.py
!.gitignore
!Makefile

# Unignore all dirs
!*/

# Ignore lib/asyncio and lib/headers
lib/asyncio
lib/headers

# Ignore headers copied on top-level directory
/SocketIOStream.h
/SocketIODatagram.h
/SocketIO.h
